#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: red;
}

.Header {
  background-color: rgb(255, 249, 215);
  border-radius: 35px;
  border-color: rgb(182, 93, 41);
  border-width: 5px;
  border-style: solid;
  box-shadow: 0 0 10px #bdbb6d;
  margin-bottom: 10px;
}

.Header2 {
  background-color: red;
  border-width: 20px;
  border-style: dotted;
  border-color: white;
  border-radius: 30px;
}
.Header3 {
  background-color: rgb(255, 249, 215);
  padding: 5px 10px;
  border-radius: 15px;
  border-color: rgb(255, 156, 98);
  border-width: 5px;
  border-style: inset;
}

.Header:hover {
  box-shadow: 8px 8px 0px black;
}