#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Poppins, Verdana, sans-serif;
}

.App {
  font-family:Avenir, "Century Gothic", sans-serif;
  font-weight:100; 
  font-style:normal;
  width: 100%;
  height: 100%;
}

.Header{
  width: 100vw;
  font-size: calc(10px + 2vmin);
  margin-left: calc(-50vw + 48.5%);
  color:black;
  height: 100%;
  background-image: url(https://creatorverse-production.up.railway.app/static/media/banner.de5659898d3bfc5eb8ea.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(66, 74, 89);
  text-align: center;
  padding-top: 8em;
  padding-bottom: 2em;
  margin-bottom: 40px;
}

.Header h1 {
  font-family: Sono;
  font-size: 8vw;
  color: white;
}

.headerBtn {
  margin-bottom: 50px;
  margin-right: 10px;
}

button {
  border-radius: 8px;
  border: 2px solid white;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #f59d4c;
}

a {
  color: #ffdeac;
}

a:hover {
  color: #ffdeac;
}

Main {
  max-width: 1280px;
}